

/* .card{
	width: 400px;
	height: 470px;
	margin-left: 33%;
	margin-top: 30px;
	border-radius:10px;
	background-image: url('images/bg.jpg');
	background-size: cover;
	/*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
} */

/* .search{
	text-align: center;
	margin-top: 20px;
	
}

button{
	cursor: pointer;
	border-radius: 60%;
	padding: 6px;
}

#img1{
	width: 120px;
	height: 120px;
	margin-left: 33%;
	margin-top: 5px;
}

#para1{
	font-size: 35px;
	margin-top: -55px;
	font-weight: bold;
	margin-left: 32%;
}

#img2{
	width: 120px;
	height: 120px;
	margin-left: 5%;
	margin-top: -20px;
}

#para2{
	font-size: 18px;
	margin-top: 0px;
	font-weight: bold;
	margin-left: 10%;
}

#img3{
	width: 100px;
	height: 100px;
	margin-top: -150px;
	margin-right: 73px;
	float: right;
}

#para3{
	font-size: 18px;
	margin-top: -37px;
	font-weight: bold;
	margin-left: 57%;
}

input{
	
	border-radius: 10px;
	padding: 5px;
	font-weight: bold;
	font-size: 15px;
}

#temp{
	font-size: 55px;
	margin-top: 0px;
	font-weight: bold;
	margin-left: 32%;
} */